Repository spree/spree, pull requests merged in 2018-09, with the labels that each got.

#8954 Add pagination to products
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/helpers/spree/api/v2/collection_options_helpers.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  core/app/paginators/spree/shared/paginate.rb
Labels: API

#8961 Add checkout controller to API v2
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/services/spree/checkout/advance.rb
  core/app/services/spree/checkout/complete.rb
  core/app/services/spree/checkout/next.rb
Labels: API

#8942 Added API v2 Checkout traversing endpoints
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#8982 Add Addresses specification for API v2
  api/docs/v2/storefront/index.yaml
Labels: API

#8987 Add coupon codes endpoint to API v2 Swagger docs
  api/docs/v2/storefront/index.yaml
Labels: API

#8997 Change eslint configuration to StandardJS
  .eslintrc
Labels: Frontend

#8996 Convert core CoffeeScript files to js files
  core/app/assets/javascripts/spree.js
  core/app/assets/javascripts/spree.js.coffee
Labels: Frontend

#8994 Convert frontend CoffeeScript files to js files
  frontend/app/assets/javascripts/spree/frontend/cart.js
  frontend/app/assets/javascripts/spree/frontend/cart.js.coffee
  frontend/app/assets/javascripts/spree/frontend/checkout.js
  frontend/app/assets/javascripts/spree/frontend/checkout.js.coffee
  frontend/app/assets/javascripts/spree/frontend/checkout/address.js
  frontend/app/assets/javascripts/spree/frontend/checkout/address.js.coffee
  frontend/app/assets/javascripts/spree/frontend/checkout/payment.js
  frontend/app/assets/javascripts/spree/frontend/checkout/payment.js.coffee
  frontend/app/assets/javascripts/spree/frontend/checkout/shipment.js
  frontend/app/assets/javascripts/spree/frontend/checkout/shipment.js.coffee
  frontend/app/assets/javascripts/spree/frontend/coupon_manager.js
  frontend/app/assets/javascripts/spree/frontend/coupon_manager.js.coffee
Labels: Frontend

#8979 Fix product's variant's images's alt attribute's value displayed on frontend
  core/app/helpers/spree/base_helper.rb
  frontend/app/assets/javascripts/spree/frontend/product.js
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/app/views/spree/products/_thumbnails.html.erb
Labels: Frontend

#8993 Convert backend CoffeeScript files to js files
  backend/app/assets/javascripts/spree/backend/adjustments.js
  backend/app/assets/javascripts/spree/backend/adjustments.js.coffee
  backend/app/assets/javascripts/spree/backend/general_settings.js
  backend/app/assets/javascripts/spree/backend/general_settings.js.coffee
  backend/app/assets/javascripts/spree/backend/line_items.js
  backend/app/assets/javascripts/spree/backend/line_items.js.coffee
  backend/app/assets/javascripts/spree/backend/payments/edit.js
  backend/app/assets/javascripts/spree/backend/payments/edit.js.coffee
  backend/app/assets/javascripts/spree/backend/progress.js
  backend/app/assets/javascripts/spree/backend/progress.js.coffee
  backend/app/assets/javascripts/spree/backend/returns/expedited_exchanges_warning.coffee
  backend/app/assets/javascripts/spree/backend/returns/expedited_exchanges_warning.js
  backend/app/assets/javascripts/spree/backend/stock_management.js
  backend/app/assets/javascripts/spree/backend/stock_management.js.coffee
  backend/app/assets/javascripts/spree/backend/stock_movement.js
  backend/app/assets/javascripts/spree/backend/stock_movement.js.coffee
  backend/app/assets/javascripts/spree/backend/stock_transfer.js
  backend/app/assets/javascripts/spree/backend/stock_transfer.js.coffee
  backend/app/assets/javascripts/spree/backend/taxon_tree_menu.js
  backend/app/assets/javascripts/spree/backend/taxon_tree_menu.js.coffee
  backend/app/assets/javascripts/spree/backend/taxonomy.js
  backend/app/assets/javascripts/spree/backend/taxonomy.js.coffee
  backend/app/assets/javascripts/spree/backend/taxons.js
  backend/app/assets/javascripts/spree/backend/taxons.js.coffee
  backend/app/assets/javascripts/spree/backend/variant_autocomplete.js
  backend/app/assets/javascripts/spree/backend/variant_autocomplete.js.coffee
  backend/app/assets/javascripts/spree/backend/variant_management.js
  backend/app/assets/javascripts/spree/backend/variant_management.js.coffee
  backend/app/assets/javascripts/spree/backend/zone.js
  backend/app/assets/javascripts/spree/backend/zone.js.coffee
Labels: Admin Panel
