Repository spree/spree, pull requests merged in 2018-06, with the labels that each got.

#8784 Fix reference to Stock Locations Guide
  guides/content/user/orders/returning_orders.md
  guides/content/user/products/creating_products.md
  guides/content/user/shipments/shipping_methods.md
Labels: Documentation

#8788 Add swagger documentation to api starting point
  api/app/controllers/spree/api/v2/swagger_controller.rb
  api/config/routes.rb
  api/swagger.yml
Labels: API

#8813 API V2 Cart spec fixes
  api/app/controllers/spree/api/v2/swagger_controller.rb
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  core/app/models/spree/order.rb
Labels: API

#8824 3.5/3.6 final release
  README.md
  guides/content/release_notes/3_5_0.md
  guides/content/release_notes/3_6_0.md
  guides/layouts/release_notes/_sidebar.html
Labels: Documentation

#8810 API V2 cart_controller#remove_item endpoint
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
Labels: API

#8814 API V2 cart_controller#empty endpoint
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
Labels: API

#8852 Add token property to cart swagger component
  api/docs/v2/storefront/index.yaml
Labels: Documentation

#8862 Use rails 5.2.0 and spree 3.6 in getting started guide
  guides/content/developer/tutorials/getting_started_tutorial.md
Labels: Documentation

#8863 Move cart serializer into dependencies in CartController
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
Labels: API

#8836 API V2 Storefront Product endpoint swagger docs
  api/docs/v2/storefront/index.yaml
Labels: API

#8850 API V2 cart_controller#set_quantity endpoint
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/config/locales/en.yml
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  core/app/services/spree/cart/set_quantity.rb
  core/config/locales/en.yml
  core/spec/services/spree/cart/set_quantity_spec.rb
Labels: API

#8864 Add cart show endpoint
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
Labels: API

#8868 Use shared responses for common HTTP statuses like 404 or 422 in swagger docs
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#8871 Fixes Product API V2 endpoint include to match JSONAPI specs
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#8870 Add products#show to API v2
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
  api/app/serializers/spree/v2/storefront/image_serializer.rb
  api/app/serializers/spree/v2/storefront/option_type_serializer.rb
  api/app/serializers/spree/v2/storefront/option_value_serializer.rb
  api/app/serializers/spree/v2/storefront/product_property_serializer.rb
  api/app/serializers/spree/v2/storefront/product_serializer.rb
  api/app/serializers/spree/v2/storefront/variant_serializer.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  api/spree_api.gemspec
  core/app/models/spree/image.rb
  core/app/models/spree/product.rb
  core/app/models/spree/product_property.rb
  core/spec/models/spree/product_spec.rb
Labels: API
