Repository spree/spree, pull requests merged in 2018-10, with the labels that each got.

#8976 Fix problem with infinite loop of redirects in API
  api/app/controllers/spree/api/errors_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/errors_spec.rb
Labels: API

#9031 Add options support for Add to Cart API v2 endpoint
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
Labels: API

#9038 API endpoints returns paginated data, so to support more than 25 stoc…
  backend/app/assets/javascripts/spree/backend/stock_transfer.js
Labels: Admin Panel

#9037 API v2 Cart apply coupon code endpoint
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  core/app/models/spree/promotion_handler/coupon.rb
Labels: API

#9041 API v2 error handling fixes
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  core/app/services/spree/cart/add_item.rb
  core/app/services/spree/cart/set_quantity.rb
  core/app/services/spree/cart/update.rb
  core/lib/spree/service_module.rb
  core/spec/services/spree/cart/set_quantity_spec.rb
Labels: API

#9010 Get attributes by flatten array in cart - compatibility issue
  core/app/services/spree/cart/add_item.rb
Labels: API

#8988 Add update action for checkout API v2
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/services/spree/checkout/advance.rb
  core/app/services/spree/checkout/complete.rb
  core/app/services/spree/checkout/next.rb
  core/app/services/spree/checkout/update.rb
Labels: API

#9044 Use API v2 for applying coupon code in Frontend
  frontend/app/assets/javascripts/spree/frontend.js
  frontend/app/assets/javascripts/spree/frontend/coupon_manager.js
Labels: API, Frontend

#9049 Doorkeeper fixes
  api/config/initializers/doorkeeper.rb
  api/spree_api.gemspec
Labels: API

#9050 User API v2 Add to Cart API endpoint instead of OrdersController#populate
  .eslintrc
  api/app/assets/javascripts/spree/api/main.js
  api/app/assets/javascripts/spree/api/storefront/cart.js
  api/lib/spree/api/engine.rb
  backend/spec/spec_helper.rb
  core/app/assets/javascripts/spree.js
  core/lib/spree/testing_support/capybara_config.rb
  core/vendor/assets/javascripts/fetch.umd.js
  core/vendor/assets/javascripts/polyfill.min.js
  frontend/app/assets/javascripts/spree/frontend.js
  frontend/app/assets/javascripts/spree/frontend/api_tokens.js
  frontend/app/assets/javascripts/spree/frontend/cart.js
  frontend/app/assets/javascripts/spree/frontend/coupon_manager.js
  frontend/app/assets/javascripts/spree/frontend/product.js
  frontend/app/controllers/spree/orders_controller.rb
  frontend/app/controllers/spree/store_controller.rb
  frontend/app/views/spree/orders/edit.html.erb
  frontend/app/views/spree/products/_cart_form.html.erb
  frontend/config/routes.rb
  frontend/spec/features/address_spec.rb
  frontend/spec/features/automatic_promotion_adjustments_spec.rb
  frontend/spec/features/cart_spec.rb
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/coupon_code_spec.rb
  frontend/spec/features/currency_spec.rb
  frontend/spec/features/delivery_spec.rb
  frontend/spec/features/free_shipping_promotions_spec.rb
  frontend/spec/features/page_promotions_spec.rb
  frontend/spec/features/products_spec.rb
  frontend/spec/requests/ensure_cart_spec.rb
  frontend/spec/spec_helper.rb
  frontend/spec/support/add_to_cart.rb
  frontend/spec/support/shared_contexts/checkout_setup.rb
Labels: API, Frontend
