Repository spree/spree, pull requests merged in 2018-07, with the labels that each got.

#8865 API V2 cart_controller docs
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#8880 Taxon Image API V2 docs
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#8805 Add taxons to api v2
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/app/serializers/spree/v2/storefront/taxon_image_serializer.rb
  api/app/serializers/spree/v2/storefront/taxon_serializer.rb
  api/app/serializers/spree/v2/storefront/taxonomy_serializer.rb
  api/config/routes.rb
  api/spec/requests/spree/api/v2/storefront/taxons_spec.rb
  core/app/finders/spree/taxons/find.rb
Labels: API

#8904 Place radio buttons before credit cards, not after, on Payment step in Checkout
  frontend/app/views/spree/checkout/_payment.html.erb
Labels: Frontend
