Repository spree/spree, pull requests merged in 2018-12, with the labels that each got.

#9104 Fixed API v2 pagination links for collections
  api/app/helpers/spree/api/v2/collection_options_helpers.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  api/spec/requests/spree/api/v2/storefront/taxons_spec.rb
Labels: API

#9106 Fixed - proper operationId(s) for Storefront Products endpoints
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#9116 Permit also format so .json links will be rendered properly
  api/app/helpers/spree/api/v2/collection_options_helpers.rb
Labels: API

#9117 Updated Spree 3.7 noteworthy changes
  guides/content/release_notes/3_7_0.md
Labels: Documentation

#9115 Properly document API v2 Storefront Products endpoint
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#9126 Extend OrderPromotion model and Promotions in Storefront API v2 Cart endpoints
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
  api/app/serializers/spree/v2/storefront/promotion_serializer.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  api/spec/shared_examples/api_v2/current_order.rb
  core/app/models/spree/order_promotion.rb
  core/lib/spree/testing_support/factories/order_promotion_factory.rb
  core/spec/models/spree/order_promotion_spec.rb
Labels: API

#9127 Bump fast_json_api to 1.5 and loosen dependency requirement
  api/spree_api.gemspec
Labels: API

#9128 API v2 Storefront Countries endpoint changes & fixes
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/app/controllers/spree/api/v2/swagger_controller.rb
  api/app/serializers/spree/v2/storefront/country_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/countries_spec.rb
  core/app/models/spree/country.rb
  core/spec/models/spree/country_spec.rb
Labels: API

#9134 Added API v2 Storefront Checkout Shipping Methods endpoint
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/serializers/spree/v2/storefront/payment_method_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
Labels: API

#9136 Set OrderPromotion IDs rather then Promotion IDs for Cart serializer
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
Labels: API

#9138 Add support for JSON API sparse fieldsets #9132
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/spec/controllers/spree/api/v2/base_controller_spec.rb
  api/spec/requests/spree/api/v2/storefront/sparse_fields_spec.rb
Labels: API

#9146 API v2 Storefront Checkout Apply Store Credits endpoint
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  backend/app/controllers/spree/admin/payments_controller.rb
  core/app/models/spree/order/store_credit.rb
  core/app/services/spree/checkout/add_store_credit.rb
  core/spec/models/spree/order/store_credit_spec.rb
  core/spec/services/spree/checkout/add_store_credit_spec.rb
  frontend/app/controllers/spree/checkout_controller.rb
  frontend/spec/controllers/spree/checkout_controller_spec.rb
  guides/content/release_notes/3_7_0.md
Labels: API

#9149 Use updated :render_serialized_payload with yield in AccountController
  api/app/controllers/spree/api/v2/storefront/account_controller.rb
Labels: API, Bug

#9151 API v2 sparse fields documentation
  api/app/controllers/spree/api/v2/storefront/account_controller.rb
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#9139 Add shippable filter for countries
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/spec/requests/spree/api/v2/storefront/countries_spec.rb
  core/app/finders/spree/countries/find.rb
Labels: API
