Repository spree/spree, pull requests merged in 2019-12, with the labels that each got.

#9662 Fixes security issue with API v2 Order information
  api/app/controllers/spree/api/v2/storefront/order_status_controller.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/order_status_spec.rb
Labels: API

#9601 Improve Store configuration UI
  backend/app/controllers/spree/admin/stores_controller.rb
  backend/app/helpers/spree/admin/base_helper.rb
  backend/app/views/spree/admin/adjustments/_form.html.erb
  backend/app/views/spree/admin/payments/source_forms/_gateway.html.erb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/store_credits/_form.html.erb
  backend/app/views/spree/admin/stores/_form.html.erb
  backend/app/views/spree/admin/stores/index.html.erb
  backend/config/routes.rb
  backend/spec/features/admin/configuration/stores_spec.rb
  core/app/models/spree/store.rb
  core/config/locales/en.yml
  core/spec/models/spree/store_spec.rb
  guides/src/content/developer/tutorials/deface_overrides_tutorial.md
Labels: Admin Panel ⚙️, International :globe_with_meridians:

#9669 Fix typo in _link_to_account partial
  frontend/app/views/spree/shared/_link_to_account.html.erb
Labels: Frontend :art:

#9671 fix respond_to
  frontend/app/views/spree/shared/_login.html.erb
Labels: Frontend :art:

#9673 move checkout/registration
  frontend/app/views/spree/checkout/registration.html.erb
Labels: Frontend :art:

#9672 Move _user_form partial from spree_auth-devise
  frontend/app/views/spree/shared/_user_form.html.erb
  sample/db/samples/products.rb
Labels: Frontend :art:

#9675 Move users/edit from spree_auth_devise with styling
  core/config/locales/en.yml
  frontend/app/assets/stylesheets/spree/frontend/components-custom/inputs.scss
  frontend/app/views/spree/shared/_user_form.html.erb
  frontend/app/views/spree/users/edit.html.erb
Labels: Frontend :art:

#9677 fix flash_message
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/spec/helpers/frontend_helper_spec.rb
Labels: Frontend :art:

#9682 [SD-593] Don't display category baner on Search results
  frontend/app/views/spree/products/index.html.erb
Labels: Bug, Frontend :art:

#9687 [SD-622] Fixes PDP thumbnails sizes
  frontend/app/views/spree/shared/carousel/_thumbnails.html.erb
Labels: Frontend :art:

#9690 Use Store#default_currency on Frontend
  core/lib/spree/core/controller_helpers/store.rb
  core/lib/spree/testing_support/order_walkthrough.rb
  core/spec/lib/spree/core/controller_helpers/order_spec.rb
  core/spec/lib/spree/core/controller_helpers/store_spec.rb
  frontend/app/views/spree/products/_cart_form.html.erb
  frontend/config/initializers/assets.rb
  frontend/spec/controllers/spree/checkout_controller_with_views_spec.rb
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/currency_spec.rb
  frontend/spec/features/products_spec.rb
  frontend/spec/features/template_rendering_spec.rb
  frontend/spec/spec_helper.rb
Labels: Frontend :art:, International :globe_with_meridians:

#9685 [SD-617] Order summary on checkout fix
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/views/spree/checkout/_summary.html.erb
  frontend/spec/features/automatic_promotion_adjustments_spec.rb
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/delivery_spec.rb
  frontend/spec/features/free_shipping_promotions_spec.rb
  frontend/spec/features/page_promotions_spec.rb
Labels: Frontend :art:

#9691 [SD-614] Makes cart line items images smaller on mobile
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
Labels: Frontend :art:

#9689 [SD-410] Make the filters sticky on PLP
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/index.scss
  frontend/app/views/spree/products/_filters_desktop.html.erb
Labels: Frontend :art:

#9696 Make edit links on checkout confirmation page work
  frontend/app/helpers/spree/frontend_helper.rb
Labels: Frontend :art:

#9688 [SD-608] PLP: make 3 products in a row on Desktop, same as Tablet
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/app/views/spree/checkout/_confirm.html.erb
  frontend/app/views/spree/products/index.html.erb
  frontend/app/views/spree/shared/_carousel_product.html.erb
  frontend/app/views/spree/shared/_product.html.erb
Labels: Frontend :art:

#9709 [SD-464] fix js reference error
  frontend/app/views/spree/checkout/_delivery.html.erb
Labels: Frontend :art:

#9702 [SD-631] If there is only one image for a variant, image is misplaced…
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/carousel/single.scss
  frontend/app/views/spree/shared/carousel/_single.html.erb
Labels: Bug, Frontend :art:

#9678 [SD-591] Style new & edit address_form
  core/config/locales/en.yml
  frontend/app/helpers/spree/addresses_helper.rb
  frontend/app/views/spree/addresses/_form.html.erb
  frontend/app/views/spree/addresses/edit.html.erb
  frontend/app/views/spree/addresses/new.html.erb
  frontend/spec/support/shared_contexts/checkout_address_book.rb
  frontend/spec/support/shared_contexts/checkout_setup.rb
Labels: Frontend :art:

#9711 [SD-639] PLP Desktop - make the Filter pane thinner
  frontend/app/views/spree/products/_filters_desktop.html.erb
  frontend/app/views/spree/products/_no_results_with_filters.html.erb
  frontend/app/views/spree/products/index.html.erb
Labels: Frontend :art:

#9706 [SD-586] Display promotions per line item in the cart
  core/app/models/spree/order.rb
  frontend/app/views/spree/checkout/edit.html.erb
  frontend/app/views/spree/orders/edit.html.erb
  frontend/spec/features/cart_spec.rb
Labels: Frontend :art:

#9719 [SD-634] Make category navbar visible in subcategories
  frontend/app/views/spree/taxons/_subcategories.html.erb
Labels: Frontend :art:

#9721 [SD-642] Align center pagination on Products list page
  frontend/app/views/spree/products/index.html.erb
Labels: Frontend :art:

#9708 Feature/multi currency misc fixes
  api/app/controllers/concerns/spree/api/v2/storefront/order_concern.rb
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  guides/src/content/developer/core/orders.md
Labels: International :globe_with_meridians:

#9715 [SD-640] Remove top margin on address step
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
Labels: Frontend :art:

#9722 home page performance fixes
  core/app/models/spree/zone.rb
  frontend/app/assets/javascripts/spree/frontend/coupon_manager.js
  frontend/app/assets/javascripts/spree/frontend/views/spree/layouts/spree_application.js
  frontend/app/assets/javascripts/spree/frontend/views/spree/shared/mobile_navigation.js
  frontend/app/controllers/spree/home_controller.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/controllers/spree/taxons_controller.rb
  frontend/app/helpers/spree/taxons_helper.rb
  frontend/app/views/spree/shared/_head.html.erb
  frontend/app/views/spree/shared/_translations.html.erb
  frontend/config/initializers/assets.rb
Labels: Frontend :art:

#9723 [SD-645] Fix pagination alignment on mobiles
  frontend/app/views/spree/products/index.html.erb
Labels: Frontend :art:

#9713 [SD-602] reduces clickable area of link
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/views/spree/orders/edit.html.erb
Labels: Frontend :art:

#9712 [SD-633] Adding image for all variants is saved but not displayed for any products
  frontend/app/views/spree/products/show.html.erb
Labels: Frontend :art:

#9734 [SD-649] Mobile PLP: left padding of products list is bigger than the…
  frontend/app/views/spree/products/index.html.erb
Labels: Frontend :art:

#9732 [SD-648] Desktop and Tablet: Make Checkout Registration step in 2 col…
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/registration.scss
  frontend/app/views/spree/checkout/registration.html.erb
  frontend/app/views/spree/shared/_login.html.erb
Labels: Frontend :art:

#9695 [SD-615] Make Checkout Confirm Step look like Order Confirmation
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/show.scss
  frontend/app/views/spree/checkout/_confirm.html.erb
  frontend/app/views/spree/checkout/edit.html.erb
Labels: Frontend :art:
