Repository spree/spree, pull requests merged in 2019-02, with the labels that each got.

#9199 Feature/api v2 storefront guest order status
  api/app/controllers/spree/api/v2/storefront/order_status_controller.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/order_status_spec.rb
Labels: API

#9226 Moved API v2 shared examples into testing_support
  api/lib/spree/api/testing_support/v2/base.rb
  api/lib/spree/api/testing_support/v2/current_order.rb
  api/spec/requests/spree/api/v2/errors_spec.rb
  api/spec/requests/spree/api/v2/resource_includes_spec.rb
  api/spec/requests/spree/api/v2/storefront/account/credit_cards_spec.rb
  api/spec/requests/spree/api/v2/storefront/account/orders_spec.rb
  api/spec/requests/spree/api/v2/storefront/account_spec.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  api/spec/requests/spree/api/v2/storefront/countries_spec.rb
  api/spec/requests/spree/api/v2/storefront/order_status_spec.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  api/spec/requests/spree/api/v2/storefront/taxons_spec.rb
  api/spec/spec_helper.rb
Labels: API

#9236 Added Spree 4.0 to Changelog
  CHANGELOG.md
  guides/src/content/release_notes/4_0_0.md
Labels: Documentation

#9250 Fix incorrect permission check in admin panel:
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/shared/_product_tabs.html.erb
Labels: Admin Panel, Bug

#9259 Proper type for Taxon children in API v2 taxon serializer
  api/app/serializers/spree/v2/storefront/taxon_serializer.rb
Labels: API

#9263 Use class with namespace for payment methods to avoid Rails 5.2 caching problems
  core/app/models/spree/payment_method/check.rb
  core/app/models/spree/payment_method/store_credit.rb
Labels: Bug

#9266 Fixing json format
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation :book:

#9268 Fix incorrect payment_source format
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation :book:

#9267 Docs user guides urls fixes
  guides/src/content/developer/core/addresses.md
  guides/src/content/developer/core/adjustments.md
  guides/src/content/developer/core/calculators.md
  guides/src/content/developer/core/orders.md
  guides/src/content/developer/core/payments.md
  guides/src/content/developer/core/preferences.md
  guides/src/content/developer/core/promotions.md
  guides/src/content/developer/core/shipments.md
  guides/src/content/developer/core/taxation.md
  guides/src/content/developer/customization/api_v1.md
  guides/src/content/developer/customization/authentication.md
  guides/src/content/developer/customization/logic.md
  guides/src/content/developer/customization/view.md
  guides/src/content/developer/source/index.md
  guides/src/content/developer/source/navigating.md
  guides/src/content/developer/tutorials/deface_overrides_tutorial.md
  guides/src/content/developer/tutorials/getting_started_tutorial.md
  guides/src/content/developer/tutorials/migration.md
  guides/src/content/developer/tutorials/testing.md
  guides/src/content/user/configuration/configuring_roles.md
  guides/src/content/user/configuration/configuring_store_credit_categories.md
  guides/src/content/user/configuration/configuring_taxes.md
  guides/src/content/user/orders/editing_orders.md
  guides/src/content/user/orders/entering_orders.md
  guides/src/content/user/orders/index.md
  guides/src/content/user/orders/order_states.md
  guides/src/content/user/orders/processing_orders.md
  guides/src/content/user/orders/returning_orders.md
  guides/src/content/user/orders/searching_orders.md
  guides/src/content/user/payments/index.md
  guides/src/content/user/payments/payment_methods.md
  guides/src/content/user/payments/payment_states.md
  guides/src/content/user/products/creating_products.md
  guides/src/content/user/products/deleting_products.md
  guides/src/content/user/products/editing_products.md
  guides/src/content/user/products/index.md
  guides/src/content/user/products/product_prototypes.md
  guides/src/content/user/products/searching_products.md
  guides/src/content/user/promotions/creating_promotions.md
  guides/src/content/user/shipments/calculators.md
  guides/src/content/user/shipments/index.md
  guides/src/content/user/shipments/shipping_categories.md
  guides/src/content/user/shipments/shipping_methods.md
  guides/src/content/user/shipments/zones.md
  guides/src/content/user/users/creating_users.md
  guides/src/content/user/users/editing_users.md
  guides/src/content/user/users/index.md
  guides/src/content/user/users/searching_users.md
Labels: Documentation :book:

#9271 Final fixes for the new Guides 2.0 deployment
  guides/src/content/developer/source/navigating.md
  guides/src/content/developer/tutorials/security.md
  guides/src/pages/404.js
  netlify.toml
Labels: Documentation :book:

#9277 Update form to allow input & edit of iso and iso3
  backend/app/views/spree/admin/countries/_form.html.erb
  backend/spec/features/admin/configuration/countries_spec.rb
Labels: Admin Panel ⚙️
