Repository spree/spree, pull requests merged in 2019-01, with the labels that each got.

#9152 API v2 :remove_store_credit endpoint
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/models/spree/order/store_credit.rb
  core/app/services/spree/checkout/remove_store_credit.rb
  core/spec/models/spree/order/store_credit_spec.rb
  core/spec/services/spree/checkout/remove_store_credit_spec.rb
  frontend/app/controllers/spree/checkout_controller.rb
  guides/content/release_notes/3_7_0.md
Labels: API

#9147 API v2 Storefront Checkout finalize
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/serializers/spree/v2/storefront/shipment_serializer.rb
  api/app/serializers/spree/v2/storefront/shipping_rate_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/models/spree/shipment.rb
  core/app/models/spree/shipping_rate.rb
  core/app/services/spree/checkout/get_shipping_rates.rb
  core/config/locales/en.yml
  core/lib/spree/testing_support/factories/promotion_factory.rb
  core/spec/models/spree/shipment_spec.rb
  core/spec/models/spree/shipping_rate_spec.rb
  core/spec/services/spree/checkout/get_shipping_rates_spec.rb
Labels: API

#9158 Fixed OpenAPI errors caused by wrong rebase
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#9159 Fix/open api docs lint fixes
  api/docs/v2/storefront/index.yaml
Labels: API, Documentation

#9157 Fixed :promotions association in Storefront::CartSerializer
  api/app/serializers/spree/v2/storefront/cart_serializer.rb
  api/app/serializers/spree/v2/storefront/promotion_serializer.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
Labels: API

#9160 Allow backend shipping rates for completed orders in :update_shipments
  core/app/models/spree/order_updater.rb
  core/spec/models/spree/order_updater_spec.rb
Labels: Bug

#9168 Replace sass with sassc
  backend/spree_backend.gemspec
  cmd/lib/spree_cmd/templates/extension/extension.gemspec
  common_spree_dependencies.rb
  frontend/spree_frontend.gemspec
  guides/content/release_notes/3_7_0.md
Labels: Admin Panel, Frontend

#9169 Spree 3.7 release notes
  guides/content/developer/upgrades/three-dot-six-to-three-dot-seven.md
  guides/content/release_notes/3_7_0.md
Labels: Documentation, WIP

#9174 Updated Doorkeeper/OAuth documentation
  api/config/initializers/doorkeeper.rb
  api/docs/oauth/index.yml
Labels: API, Documentation

#9175 STI fix needed for Image Decorator
  guides/content/developer/customization/images.md
Labels: Documentation

#9178 Added missing CoffeScript removal notice in 3.7 release notes
  guides/content/release_notes/3_7_0.md
Labels: Documentation

#9182 Small fixes for OMS admin privilages
  backend/app/views/spree/admin/shared/_account_nav.html.erb
  backend/app/views/spree/admin/shared/_order_tabs.html.erb
  backend/app/views/spree/admin/state_changes/index.html.erb
Labels: Admin Panel

#9195 [Fix] Change CreditCardSerializer namespace
  api/app/controllers/spree/api/v2/storefront/account/credit_cards_controller.rb
  api/app/serializers/spree/v2/storefront/account/credit_card_serializer.rb
  api/app/serializers/spree/v2/storefront/credit_card_serializer.rb
Labels: API

#9204 Fix randomly failling spec
  backend/spec/features/admin/orders/new_order_spec.rb
  core/lib/spree/testing_support/capybara_ext.rb
Labels: WIP

#9210 Spree Dependencies system
  api/app/controllers/concerns/spree/api/v2/storefront/order_concern.rb
  api/app/controllers/spree/api/base_controller.rb
  api/app/controllers/spree/api/v1/line_items_controller.rb
  api/app/controllers/spree/api/v1/shipments_controller.rb
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/credit_cards_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/orders_controller.rb
  api/app/controllers/spree/api/v2/storefront/account_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/app/models/spree/api_dependencies.rb
  api/lib/spree/api/engine.rb
  api/spec/models/spree/api_dependencies_spec.rb
  backend/app/controllers/spree/admin/payments_controller.rb
  core/app/finders/spree/line_items/find_by_variant.rb
  core/app/models/spree/app_dependencies.rb
  core/app/models/spree/order.rb
  core/app/models/spree/order_contents.rb
  core/app/models/spree/order_merger.rb
  core/app/models/spree/promotion/actions/create_line_items.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/app/services/spree/cart/add_item.rb
  core/app/services/spree/cart/remove_item.rb
  core/app/services/spree/cart/remove_line_item.rb
  core/app/services/spree/cart/set_quantity.rb
  core/app/services/spree/checkout/advance.rb
  core/app/services/spree/checkout/complete.rb
  core/lib/generators/spree/install/templates/config/initializers/spree.rb
  core/lib/spree/core.rb
  core/lib/spree/core/controller_helpers/auth.rb
  core/lib/spree/core/engine.rb
  core/lib/spree/dependencies_helper.rb
  core/spec/models/spree/app_dependencies_spec.rb
  frontend/app/controllers/spree/checkout_controller.rb
  frontend/app/controllers/spree/orders_controller.rb
  guides/src/content/developer/customization/dependencies.md
  guides/src/content/release_notes/3_7_0.md
Labels: Documentation, Feature

#9214 Update API v1 json syntax highlight theme
  guides/package.json
  guides/src/components/helpers/Json.js
  guides/src/components/helpers/Params.js
  guides/src/components/helpers/Status.js
  guides/yarn.lock
Labels: Documentation

#9219 Change API v2 content-type to application/vnd.api+json as it's requir…
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/models/spree/api_configuration.rb
  api/config/initializers/json_api_mime_types.rb
  api/docs/v2/storefront/index.yaml
Labels: API
