Repository spree/spree, pull requests merged in 2019-08, with the labels that each got.

#9453 Use API v2 for country state and zip in checkout address form.
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  frontend/app/assets/javascripts/spree/frontend/checkout/address.js
  frontend/app/helpers/spree/addresses_helper.rb
  frontend/app/views/spree/address/_form.html.erb
  frontend/app/views/spree/addresses/_form.html.erb
  frontend/app/views/spree/checkout/_address.html.erb
Labels: API, Frontend

#9460 Fixed Spree 3.6 to 3.7 upgrade link in 3.7 release notes
  guides/src/content/release_notes/3_7_0.md
Labels: Documentation :book:

#9465 Support setting Store default currency in the Admin Panel
  backend/app/controllers/spree/admin/stores_controller.rb
  backend/app/views/spree/admin/stores/_form.html.erb
  backend/app/views/spree/admin/stores/index.html.erb
  backend/spec/features/admin/configuration/stores_spec.rb
  core/config/locales/en.yml
  core/db/default/spree/stores.rb
Labels: Admin Panel ⚙️

#9483 Fix State Machines dependencies for Rails 6
  core/spree_core.gemspec
Labels: Rails 6

#9492 4.0.0.beta with Rails 6.0 support
  api/config/initializers/rabl_rails6_fix.rb
  core/db/migrate/20170323151450_add_missing_unique_indexes_for_unique_attributes.rb
  core/lib/spree/core/version.rb
  core/spec/lib/search/base_spec.rb
  core/spree_core.gemspec
Labels: Rails 6

#9495 Spree 4.0 beta release notes
  guides/src/content/release_notes/4_0_0.md
Labels: Documentation :book:
