Repository spree/spree, pull requests merged in 2019-03, with the labels that each got.

#9278 Filter Products by SKUs in Storefront API v2
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  core/app/finders/spree/products/find.rb
Labels: API

#9279 Fix typo in guides: extentions -> extensions
  guides/src/content/developer/customization/extensions.md
  guides/src/content/developer/tutorials/extensions_tutorial.md
Labels: Documentation :book:

#9262 Fixed API v1 flaky checkout specs on SQLite
  api/spec/controllers/spree/api/v1/checkouts_controller_spec.rb
Labels: API

#9280 Multi Store user section and multiple small fixes (format/txt)
  guides/src/content/user/configuration/configuring_analytics.md
  guides/src/content/user/configuration/configuring_multi_stores.md
  guides/src/content/user/configuration/configuring_taxes.md
  guides/src/content/user/products/cloning_products.md
  guides/src/content/user/products/index.md
  guides/src/content/user/products/searching_products.md
  guides/src/content/user/products/taxonomies_and_taxons.md
  guides/src/content/user/promotions/index.md
  guides/src/content/user/shipments/calculators.md
  guides/src/content/user/shipments/shipping_methods.md
  guides/src/content/user/users/deleting_users.md
  guides/src/content/user/users/searching_users.md
  guides/src/images/user/config/edit_store.jpg
  guides/src/images/user/config/edit_store_btn.jpg
  guides/src/images/user/config/new_store.jpg
  guides/src/images/user/config/order_stores.jpg
  guides/src/images/user/config/spree_multi_store_admin_page.jpg
Labels: Documentation :book:

#9289 Bump bootstrap to 4.3.1
  backend/spree_backend.gemspec
  frontend/spree_frontend.gemspec
Labels: Admin Panel ⚙️, Frontend

#9300 Move controllers methods to BaseController
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/credit_cards_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/orders_controller.rb
  api/app/controllers/spree/api/v2/storefront/account_controller.rb
  api/app/controllers/spree/api/v2/storefront/order_status_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/app/helpers/spree/api/v2/collection_options_helpers.rb
Labels: API

#9304 Add links to JS/TS SDK in guides
  api/docs/v2/storefront/index.yaml
  guides/src/pages/api/v2/index.js
Labels: Documentation :book:

#9305 Feature/api v2 cart estimate shipping rates
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/models/spree/api_dependencies.rb
  api/app/serializers/spree/v2/storefront/estimated_shipping_rate_serializer.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/models/spree/app_dependencies.rb
  core/app/services/spree/cart/estimate_shipping_rates.rb
  guides/src/content/release_notes/4_0_0.md
Labels: API
