Repository spree/spree, pull requests merged in 2020-01, with the labels that each got.

#9728 [SD-643] Page under overlay is visible - PDP Zoom overlay - [DESKTOP]…
  frontend/app/assets/stylesheets/spree/frontend/mixins.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/show.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/carousel/single.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/carousel/thumbnails.scss
  frontend/app/views/spree/products/show.html.erb
Labels: Bug, Frontend :art:

#9729 [SD-260] arrows possitions on homepage carousels
  frontend/app/assets/stylesheets/spree/frontend/components-bootstrap/carousel.scss
  frontend/app/views/spree/home/_carousel.html.erb
Labels: Frontend :art:

#9737 [SD-648] fix type of field in checkout registration
  frontend/app/views/spree/shared/_login.html.erb
Labels: Bug, Frontend :art:

#9738 [SD-59] Fix checkout's 'OR' separator on iOS
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
Labels: Bug, Frontend :art:

#9744 Truncate carousel product name
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/product.scss
Labels: Frontend :art:

#9745 [SD-656] Footer should be 100% width
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/footer.scss
Labels: Bug, Frontend :art:

#9755 [SD-648] Desktop and Tablet: Make Checkout Registration step in 2 col…
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/registration.scss
  frontend/app/views/spree/checkout/registration.html.erb
  frontend/app/views/spree/shared/_login.html.erb
Labels: Frontend :art:

#9754 [SD-653] Price is moving upwards when product in carousel has a small…
  frontend/app/views/spree/shared/_carousel_product.html.erb
  frontend/app/views/spree/shared/_product.html.erb
Labels: Bug, Frontend :art:

#9752 [SD-657] Store credits balance is not implemented in My Account
  frontend/app/assets/stylesheets/spree/frontend/views/spree/users/show.scss
  frontend/app/views/spree/users/show.html.erb
Labels: Frontend :art:

#9756 [SD-666] Populate meta description tags on PLP
  core/app/helpers/spree/base_helper.rb
  core/app/models/spree/taxon.rb
  frontend/spec/features/taxons_spec.rb
Labels: Frontend :art:

#9760 [SD-666] Remove blank values from meta keywords and meta description
  core/app/helpers/spree/base_helper.rb
Labels: Frontend :art:

#9761 [SD-674] Implement $footer-font-color variable
  frontend/app/assets/stylesheets/spree/frontend/application.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/helper-variables.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/footer.scss
Labels: Frontend :art:

#9753 [SD-658] Incorrect string name (upon hover on card) on Store Credits …
  backend/app/views/spree/admin/store_credits/index.html.erb
Labels: Bug, Frontend :art:

#9762 [SD-673] Implement $footer-background variable
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/footer.scss
Labels: Frontend :art:

#9765 [SD-670] Implement $header-font-color variable
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/header.scss
Labels: Frontend :art:

#9763 [SD-669] Implement $header-background-color variable
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/header.scss
  frontend/app/views/spree/shared/_checkout_header.html.erb
  frontend/app/views/spree/shared/_header.html.erb
Labels: Frontend :art:

#9769 [SD-673] Implement $footer-background variable
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/footer.scss
Labels: Frontend :art:

#9768 [SD-672] Adds SASS variable for meganav font color
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/category_nav_bar.scss
Labels: Frontend :art:

#9739 [SD-650] fix related_products check
  core/app/helpers/spree/products_helper.rb
Labels: Bug, Frontend :art:

#9771 [SD-670] Implement header-font-color variable
  frontend/app/assets/images/arrow-right.svg
  frontend/app/assets/images/logo.svg
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/cart.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/header.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/main_nav_bar.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/mobile_navigation.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/nav_bar.scss
Labels: Frontend :art:

#9774 SD-677 SD-679 $secondary-background
  frontend/app/assets/stylesheets/spree/frontend/components-bootstrap/carousel.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/bootstrap-overrides.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/home/index.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/layouts/spree_application.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/carousel/single.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/category_nav_bar.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/mobile_navigation.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/users/show.scss
Labels: Frontend :art:

#9779 [SD-676] feature + fixed specs
  frontend/app/assets/images/circle-radio.svg
  frontend/app/assets/images/circle.svg
  frontend/app/assets/images/full_circle-radio.svg
  frontend/app/assets/images/full_circle.svg
  frontend/app/assets/stylesheets/spree/frontend/application.scss
  frontend/app/assets/stylesheets/spree/frontend/components-custom/inputs.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/bootstrap-overrides.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/home/index.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/layouts/spree_application.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/cart_form.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/index.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/nav_bar.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/taxons/show.scss
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/spec/helpers/frontend_helper_spec.rb
Labels: Frontend :art:

#9780 Frontend performance optimization
  api/app/controllers/spree/api/v1/checkouts_controller.rb
  core/app/helpers/spree/products_helper.rb
  core/app/models/concerns/spree/user_methods.rb
  core/lib/generators/spree/install/install_generator.rb
  core/lib/spree/core/controller_helpers/order.rb
  core/lib/spree/core/controller_helpers/store.rb
  core/spec/helpers/products_helper_spec.rb
  core/spec/lib/spree/core/controller_helpers/store_spec.rb
  frontend/app/assets/javascripts/spree/frontend/account.js
  frontend/app/assets/javascripts/spree/frontend/api_tokens.js
  frontend/app/assets/javascripts/spree/frontend/cart.js
  frontend/app/assets/javascripts/spree/frontend/views/spree/products/cart_form.js
  frontend/app/controllers/spree/checkout_controller.rb
  frontend/app/controllers/spree/home_controller.rb
  frontend/app/controllers/spree/orders_controller.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/controllers/spree/store_controller.rb
  frontend/app/controllers/spree/taxons_controller.rb
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/app/helpers/spree/structured_data_helper.rb
  frontend/app/views/spree/home/_carousel.html.erb
  frontend/app/views/spree/home/index.html.erb
  frontend/app/views/spree/products/_carousel.html.erb
  frontend/app/views/spree/products/_filters_desktop.html.erb
  frontend/app/views/spree/products/_filters_mobile.html.erb
  frontend/app/views/spree/products/index.html.erb
  frontend/app/views/spree/shared/_carousel_product.html.erb
  frontend/app/views/spree/shared/_cart.html.erb
  frontend/app/views/spree/shared/_link_to_account.html.erb
  frontend/app/views/spree/shared/_login_bar.html.erb
  frontend/app/views/spree/shared/_nav_bar.html.erb
  frontend/app/views/spree/shared/_product.html.erb
  frontend/app/views/spree/shared/_products.html.erb
  frontend/app/views/spree/taxons/_subcategories.html.erb
  frontend/config/routes.rb
  frontend/spec/requests/api_tokens_spec.rb
  lib/sandbox.sh
Labels: API, Frontend :art:

#9781 [SD-676] Fixes background color of mobile nav
  frontend/app/views/spree/shared/_mobile_navigation.html.erb
Labels: Bug, Frontend :art:

#9783 [SD-678] Adds SASS variable for global border style
  frontend/app/assets/stylesheets/spree/frontend/variables/variables.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/cart_form.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/index.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/footer.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/header.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/mobile_navigation.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/nav_bar.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/users/show.scss
  frontend/app/views/spree/shared/_copyright.html.erb
Labels: Frontend :art:

#9785 Fix/performance ld caching
  core/app/helpers/spree/products_helper.rb
  core/spec/helpers/products_helper_spec.rb
  frontend/app/controllers/spree/home_controller.rb
  frontend/app/views/spree/home/index.html.erb
  frontend/app/views/spree/products/index.html.erb
Labels: Frontend :art:

#9787 Fixed checks for login helper paths
  frontend/app/views/spree/checkout/registration.html.erb
  frontend/app/views/spree/shared/_link_to_account.html.erb
Labels: Frontend :art:

#9773 [SD-557] Fixes right outline missing on quantity picker in cart
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
Labels: Frontend :art:

#9804 Fixed clear cache in general settings
  backend/app/assets/javascripts/spree/backend/general_settings.js
Labels: Admin Panel ⚙️

#9805 Fix font-color variable
  frontend/app/assets/stylesheets/spree/frontend/helpers/spree/frontend_helper.scss
  frontend/app/assets/stylesheets/spree/frontend/variables/bootstrap-overrides.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/home/index.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/layouts/spree_application.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/cart_form.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/show.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/category_nav_bar.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/product.scss
Labels: Bug, Frontend :art:

#9758 [SD-616][SD-617] Fixes layouts for checkout confirmation
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/confirm.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/checkout/edit.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/orders/show.scss
  frontend/app/views/spree/checkout/_confirm.html.erb
  frontend/app/views/spree/orders/show.html.erb
  frontend/spec/features/checkout_address_selection_spec.rb
Labels: Frontend :art:

#9823 Merge pull request #9823 from spark-solutions/fix_images_names
  frontend/app/assets/images/homepage/big_category_banner.jpg
  frontend/app/assets/images/homepage/big_category_banner_mobile.jpg
  frontend/app/assets/images/homepage/big_category_banner_tablet_landscape.jpg
  frontend/app/assets/images/homepage/big_category_banner_tablet_portrait.jpg
  frontend/app/assets/images/homepage/category_banner_lower.jpg
  frontend/app/assets/images/homepage/category_banner_lower_mobile.jpg
  frontend/app/assets/images/homepage/category_banner_lower_tablet_landscape.jpg
  frontend/app/assets/images/homepage/category_banner_lower_tablet_portrait.jpg
  frontend/app/assets/images/homepage/category_banner_upper.jpg
  frontend/app/assets/images/homepage/category_banner_upper_mobile.jpg
  frontend/app/assets/images/homepage/category_banner_upper_tablet_landscape.jpg
  frontend/app/assets/images/homepage/category_banner_upper_tablet_portrait.jpg
  frontend/app/assets/images/homepage/main_banner.jpg
  frontend/app/assets/images/homepage/main_banner_mobile.jpg
  frontend/app/assets/images/homepage/main_banner_tablet_landscape.jpg
  frontend/app/assets/images/homepage/main_banner_tablet_portrait.jpg
  frontend/app/assets/images/homepage/promo_banner_left.jpg
  frontend/app/assets/images/homepage/promo_banner_left_mobile.jpg
  frontend/app/assets/images/homepage/promo_banner_left_tablet_landscape.jpg
  frontend/app/assets/images/homepage/promo_banner_left_tablet_portrait.jpg
  frontend/app/assets/images/homepage/promo_banner_right.jpg
  frontend/app/assets/images/homepage/promo_banner_right_mobile.jpg
  frontend/app/assets/images/homepage/promo_banner_right_tablet_landscape.jpg
  frontend/app/assets/images/homepage/promo_banner_right_tablet_portrait.jpg
  frontend/app/views/spree/home/index.html.erb
Labels: Bug, Frontend :art:

#9824 Customizable navigation for new Spree UX
  README.md
  core/config/locales/en.yml
  core/lib/generators/spree/install/install_generator.rb
  core/lib/generators/spree/install/templates/config/initializers/spree_storefront.rb
  core/lib/generators/spree/install/templates/config/spree_storefront.yml
  core/lib/spree/testing_support/common_rake.rb
  frontend/app/assets/images/meganav/promo_banner_left-first-category.jpg
  frontend/app/assets/images/meganav/promo_banner_left-second-category.jpg
  frontend/app/assets/images/meganav/promo_banner_left-third-category.jpg
  frontend/app/assets/images/meganav/promo_banner_right-first-category.jpg
  frontend/app/assets/images/meganav/promo_banner_right-second-category.jpg
  frontend/app/assets/images/meganav/promo_banner_right-third-category.jpg
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/app/helpers/spree/navigation_helper.rb
  frontend/app/views/spree/shared/_category_nav_bar.html.erb
  frontend/app/views/spree/shared/_footer.html.erb
  frontend/app/views/spree/shared/_header.html.erb
  frontend/app/views/spree/shared/_main_nav_bar.html.erb
  frontend/app/views/spree/shared/_mobile_navigation.html.erb
  frontend/app/views/spree/shared/_nav_bar.html.erb
  frontend/config/initializers/assets.rb
  frontend/lib/generators/spree/frontend/copy_storefront/copy_storefront_generator.rb
  lib/sandbox.sh
Labels: Frontend :art:

#9828 Update authentication.md
  guides/src/content/developer/customization/authentication.md
Labels: Documentation :book:

#9832 Added missing redirecits for old guides to new ones
  netlify.toml
Labels: Documentation :book:

#9834 Fix n+1 queries in Storefront
  core/config/locales/en.yml
  core/lib/generators/spree/dummy/dummy_generator.rb
  core/lib/generators/spree/dummy/templates/initializers/bullet.rb
  core/lib/spree/core/search/base.rb
  frontend/app/controllers/spree/home_controller.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/views/spree/products/_cart_form.html.erb
  frontend/app/views/spree/products/_cart_form_availability_templates.html.erb
  frontend/spec/controllers/spree/products_controller_spec.rb
Labels: Frontend :art:

#9840 We don't need to fire set_current_order before cart_link
  frontend/app/controllers/spree/store_controller.rb
Labels: Frontend :art:

#9839 [SD-744] Reduce overfetching of data for cart form / variants matrix on PDP
  core/app/helpers/spree/products_helper.rb
  core/app/presenters/spree/variant_presenter.rb
  core/spec/presenters/spree/variant_presenter_spec.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/views/spree/products/_cart_form.html.erb
Labels: Frontend :art:
