Repository spree/spree, pull requests merged in 2020-08, with the labels that each got.

#10412 [SD-910] Correct variants flash message
  core/config/locales/en.yml
Labels: Admin Panel ⚙️

#10408 [SD-915] Fixes promotions user dropdown not showing user emails based on entered query phrase
  backend/app/assets/javascripts/spree/backend/user_picker.js
  backend/spec/features/admin/promotions/user_rule_spec.rb
Labels: Admin Panel ⚙️, Bug

#10417 Order the content & images for easy understanding
  guides/src/content/user/users/editing_users.md
Labels: Documentation :book:

#10357 [SD-877] Fix entering taxonomy menu on iOS devices
  backend/app/assets/javascripts/spree/backend/taxonomy.js
  core/config/locales/en.yml
Labels: Admin Panel ⚙️

#10410 [SDP-413] Translate order adjustments state
  backend/app/views/spree/admin/adjustments/_adjustment.html.erb
Labels: Admin Panel ⚙️, International :globe_with_meridians:

#10424 [SD-899] Add timezone in returns views
  backend/app/views/spree/admin/return_index/customer_returns.html.erb
  backend/app/views/spree/admin/return_index/return_authorizations.html.erb
Labels: Admin Panel ⚙️

#10425 [SD-922] Fixes issue with not being able to disable currency settings
  backend/app/views/spree/admin/general_settings/_form.html.erb
  backend/spec/features/admin/general_settings/prices_settings_updating_spec.rb
Labels: Admin Panel ⚙️, Bug

#10427 [SD-915] Fixes user dropdown on promotion form showing not matching emails
  api/app/controllers/spree/api/v1/users_controller.rb
  api/spec/controllers/spree/api/v1/users_controller_spec.rb
  backend/spec/features/admin/promotions/user_rule_spec.rb
  core/app/models/concerns/spree/user_methods.rb
Labels: Admin Panel ⚙️, Bug

#10450 [SD-884] Use pretty_time on stock transfer created_at
  backend/app/views/spree/admin/stock_transfers/show.html.erb
Labels: Admin Panel ⚙️
