Repository spree/spree, pull requests merged in 2020-09, with the labels that each got.

#10468 Fixes cancel button url on store edit page
  backend/app/views/spree/admin/stores/edit.html.erb
Labels: Admin Panel ⚙️, Bug

#10484 API v2 include Stock Location relationship in Checkout Shipping Rates endpoint
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/serializers/spree/v2/storefront/shipment_serializer.rb
  api/app/serializers/spree/v2/storefront/stock_location_serializer.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
Labels: API

#10480 API v2 Set order state to delivery if selected shipping rate is changed
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  core/app/services/spree/checkout/update.rb
  core/spec/services/spree/checkout/update_spec.rb
Labels: API

#10514 API v2 always include shipping rates as shipment relationship
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/serializers/spree/v2/storefront/shipment_serializer.rb
Labels: API

#10515 Add last_modified and etag helper methods for Spree::ProductsController
  frontend/app/controllers/spree/products_controller.rb
Labels: WIP
