Repository spree/spree, pull requests merged in 2020-07, with the labels that each got.

#10316 [SD-869] Fix badge icon
  backend/app/assets/stylesheets/spree/backend/components/_tables.scss
Labels: Admin Panel ⚙️

#10315 [SD-868] Fix missing arrows in callendar
  backend/app/assets/stylesheets/spree/backend/plugins/_jquery_ui.scss
Labels: Admin Panel ⚙️

#10314 [SD-867] Increase sidebar width on large size
  backend/app/views/spree/layouts/admin.html.erb
Labels: Admin Panel ⚙️

#10317 [SD-874] Change tooltip container so tooltip could disapear when its parent is deleted
  backend/app/assets/javascripts/spree/backend/admin.js
Labels: Admin Panel ⚙️

#10320 Use a single button in the content header to trigger the dropdown.
  backend/app/assets/stylesheets/spree/backend/components/_buttons.scss
  backend/app/assets/stylesheets/spree/backend/components/_filters.scss
  backend/app/assets/stylesheets/spree/backend/components/_navbar.scss
  backend/app/assets/stylesheets/spree/backend/components/_sidebar.scss
  backend/app/assets/stylesheets/spree/backend/components/_taxon_products_view.scss
  backend/app/assets/stylesheets/spree/backend/plugins/_jquery_ui.scss
  backend/app/assets/stylesheets/spree/backend/plugins/_select2.scss
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/app/helpers/spree/admin/orders_helper.rb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/products/new.html.erb
  backend/app/views/spree/admin/shared/_content_header.html.erb
  backend/app/views/spree/admin/shared/_report_order_criteria.html.erb
  backend/app/views/spree/admin/variants/_form.html.erb
  backend/app/views/spree/layouts/admin.html.erb
Labels: Admin Panel ⚙️

#10325 [SD-839] Increase clickable area in back navigation arrow
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/mobile_navigation.scss
Labels: Improvement

#10318 [SD-870] Change default orders count to 15
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/spec/features/admin/orders/listing_spec.rb
Labels: Admin Panel ⚙️

#10327 [SDP-331] Shows email FROM address using reimbursement store's data
  core/app/mailers/spree/reimbursement_mailer.rb
Labels: Bug

#10326 Mobile Friendly Flatpickr Cal On Admin.
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/assets/javascripts/spree/backend/flatpickr_locals.js
  backend/app/assets/stylesheets/spree/backend.css
  backend/app/assets/stylesheets/spree/backend/components/_buttons.scss
  backend/app/assets/stylesheets/spree/backend/components/_main.scss
  backend/app/assets/stylesheets/spree/backend/plugins/_jquery_ui.scss
  backend/app/assets/stylesheets/spree/backend/plugins/_select2.scss
  backend/app/assets/stylesheets/spree/backend/shared/_forms.scss
  backend/app/helpers/spree/admin/navigation_helper.rb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/products/new.html.erb
  backend/app/views/spree/admin/promotions/_form.html.erb
  backend/app/views/spree/admin/shared/_cal_close.html.erb
  backend/app/views/spree/admin/shared/_report_order_criteria.html.erb
  backend/app/views/spree/admin/shared/_translations.html.erb
  backend/app/views/spree/admin/variants/_form.html.erb
  backend/lib/spree/backend.rb
  backend/spec/features/admin/orders/listing_spec.rb
  backend/spree_backend.gemspec
  core/config/locales/en.yml
Labels: Admin Panel ⚙️

#10328 [SD-872] Removes required attribute from Shipping Categories dropdown
  backend/app/views/spree/admin/products/new.html.erb
Labels: Admin Panel ⚙️, Bug

#10330 [WCAG-38] Add aria label in checkout navigation related elements
  core/config/locales/en.yml
  frontend/app/views/spree/checkout/edit.html.erb
  frontend/app/views/spree/shared/_checkout_header.html.erb
Labels: Accessibility

#10329 Improve Promotions UX
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/assets/stylesheets/spree/backend/plugins/_select2.scss
  backend/app/assets/stylesheets/spree/backend/shared/_base.scss
  backend/app/assets/stylesheets/spree/backend/shared/_forms.scss
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/products/new.html.erb
  backend/app/views/spree/admin/promotions/_form.html.erb
  backend/app/views/spree/admin/promotions/edit.html.erb
  backend/app/views/spree/admin/promotions/new.html.erb
  backend/app/views/spree/admin/promotions/rules/_country.html.erb
  backend/app/views/spree/admin/promotions/rules/_item_total.html.erb
  backend/app/views/spree/admin/promotions/rules/_option_value.html.erb
  backend/app/views/spree/admin/promotions/rules/_product.html.erb
  backend/app/views/spree/admin/promotions/rules/_taxon.html.erb
  backend/app/views/spree/admin/shared/_report_order_criteria.html.erb
  backend/app/views/spree/admin/variants/_form.html.erb
  backend/spec/features/admin/promotions/adjustments_spec.rb
  core/config/locales/en.yml
Labels: Admin Panel ⚙️

#10332 [WCAG-33] Pass color option value name and use it as a title
  core/app/presenters/spree/variants/option_types_presenter.rb
  core/spec/presenters/spree/variants/option_types_presenter_spec.rb
  frontend/app/assets/javascripts/spree/frontend/views/spree/products/cart_form.js
  frontend/app/assets/javascripts/spree/frontend/views/spree/shared/variant_select.js
  frontend/app/assets/stylesheets/spree/frontend/views/spree/products/cart_form.scss
  frontend/app/assets/stylesheets/spree/frontend/views/spree/shared/_color_select.scss
  frontend/app/views/spree/products/_color_option_type.html.erb
Labels: Accessibility

#10336 [SD-874] Add complete function with blur event to hide tooltip when request finishes
  backend/app/assets/javascripts/spree/backend/admin.js
Labels: Admin Panel ⚙️

#10334 [SD-889] Fix new reimbursement form checkboxes
  backend/app/views/spree/admin/reimbursement_types/_form.html.erb
Labels: Admin Panel ⚙️

#10338 Fix mismatched tags in default frontend
  frontend/app/views/spree/shared/_main_nav_bar.html.erb
Labels: Storefront :shopping_cart:

#10343 ADMIN: contentHeader ID Moved Up
  backend/app/views/spree/admin/shared/_content_header.html.erb
Labels: Admin Panel ⚙️

#10342 ADMIN: Sticky Contextual Menu on Large Screens
  backend/app/assets/stylesheets/spree/backend/components/_sidebar.scss
Labels: Admin Panel ⚙️

#10340 ADMIN: Use new svg's in payment actions.
  backend/app/assets/stylesheets/spree/backend/components/_buttons.scss
  backend/app/assets/stylesheets/spree/backend/components/_icons.scss
  backend/app/views/spree/admin/payments/_list.html.erb
Labels: Admin Panel ⚙️

#10348 [SD-874] Prevent showing tooltip on touch devices to avoid uncrolled behavior
  backend/app/assets/javascripts/spree/backend/admin.js
Labels: Admin Panel ⚙️

#10349 [WCAG-33] Use aria-label in radio button so the color could be read by voice over app
  frontend/app/views/spree/products/_color_option_type.html.erb
Labels: Accessibility

#10344 ADMIN: Set .card overflow to hidden
  backend/app/assets/stylesheets/spree/backend/shared/_base.scss
Labels: Admin Panel ⚙️

#10350 Fix Appearance of Action Buttons in The Contextual Menu
  backend/app/views/spree/admin/shared/_sidebar.html.erb
Labels: Admin Panel ⚙️

#10352 [SD-873] Fix additional scrollbar on Chrome/Windows
  backend/app/assets/stylesheets/spree/backend/components/_sidebar.scss
Labels: Admin Panel ⚙️

#10341 ADMIN: Bounce-in / fade-out alerts.
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/assets/stylesheets/spree/backend/shared/_base.scss
  backend/app/helpers/spree/admin/base_helper.rb
  backend/app/views/spree/layouts/admin.html.erb
  backend/vendor/assets/stylesheets/animate.css
Labels: Admin Panel ⚙️

#10360 [SD-882] Improve product properties view on mobile
  backend/app/assets/stylesheets/spree/backend/spree_admin.css.scss
  backend/app/assets/stylesheets/spree/backend/views/_product_properties.scss
Labels: Admin Panel ⚙️

#10373 [SD-876] Improve colors while adding new product using prototype
  backend/app/assets/stylesheets/spree/backend/spree_admin.css.scss
  backend/app/assets/stylesheets/spree/backend/views/prototypes.scss
  backend/app/views/spree/admin/prototypes/show.html.erb
Labels: Admin Panel ⚙️

#10386 Adds ability o set Store logo via Admin Panel
  backend/app/views/spree/admin/stores/_form.html.erb
  backend/spec/controllers/spree/admin/stores_controller_spec.rb
  backend/spec/features/admin/configuration/stores_spec.rb
  backend/spec/features/admin/store_spec.rb
  backend/spec/fixtures/thinking-cat.jpg
  core/app/helpers/spree/base_helper.rb
  core/app/helpers/spree/mail_helper.rb
  core/app/models/spree/store.rb
  core/app/views/spree/shared/_base_mailer_header.html.erb
  core/config/locales/en.yml
  core/lib/spree/permitted_attributes.rb
Labels: Admin Panel ⚙️, Multi-Store 🏬, Storefront :shopping_cart:

#10390 [SD-891] Fix persisting flash message
  backend/app/controllers/spree/admin/stock_transfers_controller.rb
Labels: Admin Panel ⚙️

#10391 [SD-907] Fixes error on credit card payment checkout step
  frontend/app/assets/javascripts/spree/frontend/checkout/payment.js
Labels: Bug, Storefront :shopping_cart:

#10384 [SD-894] Add close button in contextual menu
  backend/app/assets/javascripts/spree/backend/admin.js
  backend/app/assets/stylesheets/spree/backend/components/_sidebar.scss
  backend/app/views/spree/admin/shared/_sidebar.html.erb
Labels: Admin Panel ⚙️

#10395 Make config :show raw product_description usable in new storefront.
  frontend/app/views/spree/products/_description.html.erb
Labels: Storefront :shopping_cart:

#10382 [SD-899] Add timezone to dates across entire app
  backend/app/helpers/spree/admin/base_helper.rb
  backend/spec/helpers/spree/admin/base_helper_spec.rb
  core/app/helpers/spree/base_helper.rb
  core/spec/helpers/base_helper_spec.rb
Labels: Admin Panel ⚙️

#10406 [SD-894] Make close contextual menu button always visible
  backend/app/views/spree/admin/shared/_sidebar.html.erb
Labels: Admin Panel ⚙️
