Repository spree/spree, pull requests merged in 2021-06, with the labels that each got.

#11092 Remove duplications for fetching accessible Stores in Admin Panel
  backend/app/controllers/spree/admin/base_controller.rb
  backend/app/controllers/spree/admin/orders_controller.rb
  backend/app/controllers/spree/admin/payment_methods_controller.rb
  backend/app/controllers/spree/admin/stores_controller.rb
  backend/app/views/spree/admin/orders/index.html.erb
Labels: Admin Panel ⚙️, Multi-Store 🏬

#11091 Allow user to sort products by name on PLP
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  core/app/finders/spree/products/find.rb
  core/config/locales/en.yml
  core/spec/finders/spree/products/find_spec.rb
  frontend/app/views/spree/products/_sort_desktop.html.erb
  frontend/app/views/spree/products/_sort_mobile.html.erb
  frontend/spec/features/products_sorting_spec.rb
Labels: API, Storefront :shopping_cart:

#11096 Automatically set Store and Currency when creating resources in Admin UI
  backend/app/controllers/spree/admin/resource_controller.rb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/products/new.html.erb
  backend/spec/features/admin/configuration/payment_methods_spec.rb
  backend/spec/features/admin/orders/new_order_spec.rb
  backend/spec/features/admin/products/products_spec.rb
  core/app/models/spree/product.rb
  core/app/models/spree/variant.rb
Labels: Admin Panel ⚙️, International :globe_with_meridians:, Multi-Store 🏬

#11127 Include locale in API v2 serializer params plus remove code duplication
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/app/serializers/spree/api/v2/base_serializer.rb
  api/spec/controllers/spree/api/v2/base_controller_spec.rb
  api/spec/requests/spree/api/v2/caching_spec.rb
Labels: API
