Repository spree/spree, pull requests merged in 2021-04, with the labels that each got.

#10875 Add caching to API v2 serializers
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/resource_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/addresses_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/credit_cards_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/controllers/spree/api/v2/storefront/checkout_controller.rb
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/app/controllers/spree/api/v2/storefront/stores_controller.rb
  api/app/controllers/spree/api/v2/storefront/taxons_controller.rb
  api/app/models/spree/api_configuration.rb
  api/app/serializers/spree/v2/storefront/base_serializer.rb
  api/app/serializers/spree/v2/storefront/country_serializer.rb
  api/spec/requests/spree/api/v2/caching_spec.rb
  guides/src/content/release_notes/4_3_0.md
Labels: API

#10911 Uniform Icon Buttons
  backend/app/assets/javascripts/spree/backend/payments/edit.js
  backend/app/views/spree/admin/adjustments/_adjustment.html.erb
  backend/app/views/spree/admin/countries/index.html.erb
  backend/app/views/spree/admin/customer_returns/_reimbursements_table.html.erb
  backend/app/views/spree/admin/customer_returns/_return_item_decision.html.erb
  backend/app/views/spree/admin/customer_returns/index.html.erb
  backend/app/views/spree/admin/images/index.html.erb
  backend/app/views/spree/admin/option_types/_option_value_fields.html.erb
  backend/app/views/spree/admin/option_types/index.html.erb
  backend/app/views/spree/admin/orders/_channel_form.html.erb
  backend/app/views/spree/admin/orders/_line_items.html.erb
  backend/app/views/spree/admin/orders/_shipment.html.erb
  backend/app/views/spree/admin/orders/_shipment_manifest.html.erb
  backend/app/views/spree/admin/orders/index.html.erb
  backend/app/views/spree/admin/payment_methods/index.html.erb
  backend/app/views/spree/admin/payments/_list.html.erb
  backend/app/views/spree/admin/product_properties/_product_property_fields.html.erb
  backend/app/views/spree/admin/products/stock.html.erb
  backend/app/views/spree/admin/promotion_categories/index.html.erb
  backend/app/views/spree/admin/properties/index.html.erb
  backend/app/views/spree/admin/prototypes/_prototypes.html.erb
  backend/app/views/spree/admin/prototypes/index.html.erb
  backend/app/views/spree/admin/reimbursement_types/index.html.erb
  backend/app/views/spree/admin/return_authorizations/_form.html.erb
  backend/app/views/spree/admin/return_authorizations/index.html.erb
  backend/app/views/spree/admin/return_index/customer_returns.html.erb
  backend/app/views/spree/admin/return_index/return_authorizations.html.erb
  backend/app/views/spree/admin/roles/index.html.erb
  backend/app/views/spree/admin/shared/_refunds.html.erb
  backend/app/views/spree/admin/shared/named_types/_index.html.erb
  backend/app/views/spree/admin/shipping_categories/index.html.erb
  backend/app/views/spree/admin/shipping_methods/index.html.erb
  backend/app/views/spree/admin/states/_state_list.html.erb
  backend/app/views/spree/admin/stock_locations/index.html.erb
  backend/app/views/spree/admin/stock_transfers/index.html.erb
  backend/app/views/spree/admin/stock_transfers/new.html.erb
  backend/app/views/spree/admin/store_credit_categories/index.html.erb
  backend/app/views/spree/admin/store_credits/index.html.erb
  backend/app/views/spree/admin/stores/index.html.erb
  backend/app/views/spree/admin/tax_categories/index.html.erb
  backend/app/views/spree/admin/tax_rates/index.html.erb
  backend/app/views/spree/admin/taxonomies/_list.html.erb
  backend/app/views/spree/admin/users/index.html.erb
  backend/app/views/spree/admin/variants/_autocomplete_line_items_stock.js.erb
  backend/app/views/spree/admin/variants/_autocomplete_stock.js.erb
  backend/app/views/spree/admin/variants/_split.js.erb
  backend/app/views/spree/admin/variants/index.html.erb
  backend/app/views/spree/admin/zones/index.html.erb
Labels: Admin Panel ⚙️

#10913 Platform API Developer Preview part 1
  .eslintrc
  .rubocop.yml
  api/Rakefile
  api/app/controllers/spree/api/v2/base_controller.rb
  api/app/controllers/spree/api/v2/platform/addresses_controller.rb
  api/app/controllers/spree/api/v2/platform/countries_controller.rb
  api/app/controllers/spree/api/v2/platform/option_types_controller.rb
  api/app/controllers/spree/api/v2/platform/option_values_controller.rb
  api/app/controllers/spree/api/v2/platform/resource_controller.rb
  api/app/controllers/spree/api/v2/platform/users_controller.rb
  api/app/controllers/spree/api/v2/resource_controller.rb
  api/app/serializers/concerns/spree/api/v2/resource_serializer_concern.rb
  api/app/serializers/spree/api/v2/base_serializer.rb
  api/app/serializers/spree/api/v2/platform/address_serializer.rb
  api/app/serializers/spree/api/v2/platform/base_serializer.rb
  api/app/serializers/spree/api/v2/platform/country_serializer.rb
  api/app/serializers/spree/api/v2/platform/option_type_serializer.rb
  api/app/serializers/spree/api/v2/platform/option_value_serializer.rb
  api/app/serializers/spree/api/v2/platform/state_serializer.rb
  api/app/serializers/spree/api/v2/platform/user_serializer.rb
  api/app/serializers/spree/v2/storefront/base_serializer.rb
  api/config/initializers/doorkeeper.rb
  api/config/initializers/rabl.rb
  api/config/routes.rb
  api/docs/v2/platform/index.yaml
  api/lib/spree/api/engine.rb
  api/lib/spree/api/testing_support/v2/base.rb
  api/lib/spree/api/testing_support/v2/platform_contexts.rb
  api/spec/controllers/spree/api/v2/platform/resource_controller_spec.rb
  api/spec/integration/api/v2/platform/addresses_spec.rb
  api/spec/integration/api/v2/platform/countries_spec.rb
  api/spec/requests/spree/api/v2/platform/resources_spec.rb
  api/spec/spec_helper.rb
  api/spec/swagger_helper.rb
  api/spree_api.gemspec
  backend/app/assets/javascripts/spree/backend.js
  backend/app/assets/javascripts/spree/backend/address_states.es6
  backend/app/assets/javascripts/spree/backend/address_states.js
  backend/app/assets/javascripts/spree/backend/checkouts/edit.js
  backend/app/assets/javascripts/spree/backend/option_type_autocomplete.js
  backend/app/assets/javascripts/spree/backend/option_value_picker.js
  backend/app/assets/javascripts/spree/backend/spree-select2.js
  backend/app/assets/javascripts/spree/backend/stock_location.js
  backend/app/assets/javascripts/spree/backend/user_picker.js
  backend/app/controllers/spree/admin/base_controller.rb
  backend/app/controllers/spree/admin/users_controller.rb
  backend/app/views/spree/admin/orders/customer_details/_autocomplete.js.erb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/shared/_address_form.html.erb
  backend/app/views/spree/admin/shared/_head.html.erb
  backend/spec/features/admin/users_spec.rb
  backend/vendor/assets/javascripts/jsonapi-serializer.min.js
  common_spree_dependencies.rb
  core/app/helpers/spree/base_helper.rb
  core/app/models/concerns/spree/user_methods.rb
  core/app/models/spree/address.rb
  core/app/models/spree/base.rb
  core/lib/spree/testing_support/authorization_helpers.rb
  core/spec/models/spree/base_spec.rb
  guides/src/content/release_notes/4_3_0.md
Labels: API, Admin Panel ⚙️
