Repository spree/spree, pull requests merged in 2021-07, with the labels that each got.

#11126 Return only Store resources in Storefront API, Platform API and Storefront UI
  api/app/controllers/spree/api/v2/platform/resource_controller.rb
  api/app/controllers/spree/api/v2/resource_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/addresses_controller.rb
  api/app/controllers/spree/api/v2/storefront/account/orders_controller.rb
  api/app/controllers/spree/api/v2/storefront/order_status_controller.rb
  api/app/controllers/spree/api/v2/storefront/products_controller.rb
  api/spec/controllers/spree/api/v1/checkouts_controller_spec.rb
  api/spec/controllers/spree/api/v1/payments_controller_spec.rb
  api/spec/controllers/spree/api/v2/platform/resource_controller_spec.rb
  api/spec/controllers/spree/api/v2/resource_controller_spec.rb
  api/spec/requests/spree/api/v2/storefront/account/orders_spec.rb
  api/spec/requests/spree/api/v2/storefront/order_status_spec.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  core/app/finders/spree/orders/find_complete.rb
  core/app/finders/spree/products/find.rb
  core/app/finders/spree/stores/find_current.rb
  core/app/helpers/spree/products_helper.rb
  core/app/mailers/spree/base_mailer.rb
  core/app/mailers/spree/reimbursement_mailer.rb
  core/app/mailers/spree/test_mailer.rb
  core/app/models/concerns/spree/multiple_stores_resource.rb
  core/app/models/concerns/spree/product_scopes.rb
  core/app/models/spree/app_dependencies.rb
  core/app/models/spree/order.rb
  core/app/models/spree/payment_method.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion/rules/first_order.rb
  core/app/models/spree/store.rb
  core/app/services/spree/cart/create.rb
  core/lib/spree/core/controller_helpers/order.rb
  core/lib/spree/core/controller_helpers/search.rb
  core/lib/spree/core/controller_helpers/store.rb
  core/lib/spree/core/search/base.rb
  core/lib/spree/testing_support/factories/order_factory.rb
  core/lib/spree/testing_support/factories/product_factory.rb
  core/lib/spree/testing_support/order_walkthrough.rb
  core/spec/finders/spree/products/find_spec.rb
  core/spec/finders/spree/stores/find_current_spec.rb
  core/spec/lib/search/base_spec.rb
  core/spec/lib/spree/core/controller_helpers/order_spec.rb
  core/spec/lib/spree/core/controller_helpers/store_spec.rb
  core/spec/mailers/order_mailer_spec.rb
  core/spec/mailers/reimbursement_mailer_spec.rb
  core/spec/mailers/shipment_mailer_spec.rb
  core/spec/mailers/test_mailer_spec.rb
  core/spec/models/spree/order/checkout_spec.rb
  core/spec/models/spree/order/payment_spec.rb
  core/spec/models/spree/order_spec.rb
  core/spec/models/spree/payment_method_spec.rb
  core/spec/models/spree/product/scopes_spec.rb
  core/spec/models/spree/product_spec.rb
  core/spec/services/spree/cart/create_spec.rb
  frontend/app/controllers/spree/orders_controller.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/helpers/spree/frontend_helper.rb
  frontend/spec/controllers/spree/orders_controller_ability_spec.rb
  frontend/spec/controllers/spree/products_controller_spec.rb
  frontend/spec/features/checkout_spec.rb
  guides/src/content/release_notes/4_3_0.md
Labels: API, Multi-Store 🏬, Storefront :shopping_cart:

#11132 SD-1356 remove overwritting default user addresses during checkout.
  core/app/models/spree/order/address_book.rb
  core/lib/spree/testing_support/factories/address_factory.rb
  core/lib/spree/testing_support/factories/user_factory.rb
  core/spec/models/spree/order_spec.rb
  core/spec/services/spree/checkout/update_spec.rb
  frontend/spec/controllers/spree/checkout_controller_spec.rb
Labels: API, Storefront :shopping_cart:

#11139 Fixed store switching based an URL + added a lot of regression tests …
  api/spec/requests/spree/api/v2/store_spec.rb
  core/app/models/spree/store.rb
  core/lib/spree/core/controller_helpers/store.rb
  core/lib/spree/testing_support/capybara_config.rb
  core/spec/lib/spree/core/controller_helpers/store_spec.rb
  frontend/spec/features/store_spec.rb
  frontend/spec/support/shared_contexts/checkout_address_book.rb
Labels: API, Multi-Store 🏬, Storefront :shopping_cart:

#11155 Add Store to StoreCredit association
  api/spec/requests/spree/api/v2/storefront/checkout_spec.rb
  backend/app/controllers/spree/admin/store_credits_controller.rb
  backend/spec/controllers/spree/admin/store_credits_controller_spec.rb
  backend/spec/features/admin/orders/payments_spec.rb
  backend/spec/features/admin/store_credits_spec.rb
  core/app/models/concerns/spree/user_methods.rb
  core/app/models/spree/order/store_credit.rb
  core/app/models/spree/reimbursement_type/reimbursement_helpers.rb
  core/app/models/spree/store.rb
  core/app/models/spree/store_credit.rb
  core/app/services/spree/checkout/add_store_credit.rb
  core/db/migrate/20210715091956_add_store_id_to_spree_store_credits.rb
  core/lib/spree/testing_support/factories/store_credit_factory.rb
  core/spec/models/spree/order/store_credit_spec.rb
  core/spec/models/spree/payment_method/store_credit_spec.rb
  core/spec/models/spree/store_credit_spec.rb
  core/spec/models/spree/user_spec.rb
  core/spec/services/spree/checkout/add_store_credit_spec.rb
  core/spec/services/spree/checkout/remove_store_credit_spec.rb
  frontend/spec/controllers/spree/checkout_controller_spec.rb
  frontend/spec/features/checkout_spec.rb
Labels: Multi-Store 🏬

#11158 Add additional associations to the Store model
  api/spec/requests/spree/api/v2/platform/menu_item_spec.rb
  backend/app/controllers/spree/admin/store_credits_controller.rb
  backend/spec/controllers/spree/admin/store_credits_controller_spec.rb
  backend/spec/features/admin/store_credits_spec.rb
  core/app/models/concerns/spree/multiple_stores_resource.rb
  core/app/models/concerns/spree/single_store_resource.rb
  core/app/models/spree/menu.rb
  core/app/models/spree/order.rb
  core/app/models/spree/store.rb
  core/app/models/spree/store_credit.rb
  core/app/models/spree/store_credit_event.rb
  core/spec/models/spree/menu_spec.rb
  core/spec/models/spree/store_credit_event_spec.rb
  core/spec/models/spree/store_spec.rb
  emails/spec/mailers/spree/shipment_mailer_spec.rb
Labels: Multi-Store 🏬

#11162 [SD-1367] Use store.default_country instead of deprecated one
  api/app/controllers/spree/api/v2/storefront/countries_controller.rb
  api/spec/requests/spree/api/v2/storefront/countries_spec.rb
Labels: API, Multi-Store 🏬

#11161 [SD-1339] Add store to taxonomies
  api/app/controllers/spree/api/v1/taxonomies_controller.rb
  backend/app/controllers/spree/admin/resource_controller.rb
  backend/app/controllers/spree/admin/taxons_controller.rb
  backend/spec/controllers/spree/admin/taxonomies_controller_spec.rb
  backend/spec/controllers/spree/admin/taxons_controller_spec.rb
  core/app/models/spree/store.rb
  core/app/models/spree/taxon.rb
  core/app/models/spree/taxonomy.rb
  core/db/migrate/20210716093151_add_store_id_to_spree_taxonomies.rb
  core/db/migrate/20210716104141_add_index_on_name_parent_id_and_taxonomy_id_on_spree_taxons.rb
  core/db/migrate/20210721120857_add_index_on_permalink_parent_id_and_taxonomy_id_on_spree_taxons.rb
  core/lib/spree/testing_support/factories/taxonomy_factory.rb
  core/spec/models/spree/store_spec.rb
  frontend/app/controllers/spree/products_controller.rb
  frontend/app/controllers/spree/taxons_controller.rb
  frontend/spec/features/taxons_spec.rb
  sample/db/samples/taxonomies.rb
Labels: Multi-Store 🏬

#11168 List only current store taxons for prototype form
  backend/app/views/spree/admin/prototypes/_form.html.erb
  backend/spec/features/admin/products/prototypes_spec.rb
Labels: Multi-Store 🏬

#11167 SD-1379 Multi Store Promotions
  api/spec/controllers/spree/api/v1/promotion_application_spec.rb
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  backend/app/controllers/spree/admin/promotion_actions_controller.rb
  backend/app/controllers/spree/admin/promotion_rules_controller.rb
  backend/app/controllers/spree/admin/promotions_controller.rb
  backend/app/controllers/spree/admin/users_controller.rb
  backend/app/views/spree/admin/products/_form.html.erb
  backend/app/views/spree/admin/promotions/_form.html.erb
  backend/spec/controllers/spree/admin/promotions_controller_spec.rb
  backend/spec/controllers/spree/admin/users_controller_spec.rb
  backend/spec/features/admin/promotions/promotion_spec.rb
  backend/spec/helpers/spree/admin/promotion_rules_helper_spec.rb
  core/app/models/concerns/spree/multi_store_resource.rb
  core/app/models/spree/payment_method.rb
  core/app/models/spree/product.rb
  core/app/models/spree/promotion.rb
  core/app/models/spree/promotion/rules/first_order.rb
  core/app/models/spree/promotion/rules/taxon.rb
  core/app/models/spree/promotion_handler/cart.rb
  core/app/models/spree/promotion_handler/coupon.rb
  core/app/models/spree/promotion_handler/free_shipping.rb
  core/app/models/spree/promotion_handler/page.rb
  core/app/models/spree/promotion_handler/promotion_duplicator.rb
  core/app/models/spree/promotion_rule.rb
  core/app/models/spree/store.rb
  core/app/models/spree/store_payment_method.rb
  core/app/models/spree/store_promotion.rb
  core/app/models/spree/taxon.rb
  core/db/migrate/20210721125657_create_spree_promotions_stores.rb
  core/lib/spree/testing_support/factories/promotion_factory.rb
  core/spec/models/spree/adjustable/adjuster/tax_spec.rb
  core/spec/models/spree/order/totals_spec.rb
  core/spec/models/spree/order_updater_spec.rb
  core/spec/models/spree/promotion/rules/first_order_spec.rb
  core/spec/models/spree/promotion/rules/taxon_spec.rb
  core/spec/models/spree/promotion_handler/cart_spec.rb
  core/spec/models/spree/promotion_handler/coupon_spec.rb
  core/spec/models/spree/promotion_handler/free_shipping_spec.rb
  core/spec/models/spree/promotion_handler/page_spec.rb
  core/spec/models/spree/promotion_handler/promotion_duplicator_spec.rb
  core/spec/models/spree/promotion_spec.rb
  core/spec/models/spree/store_spec.rb
  frontend/spec/features/automatic_promotion_adjustments_spec.rb
  frontend/spec/features/cart_spec.rb
  frontend/spec/features/checkout_spec.rb
  frontend/spec/features/coupon_code_spec.rb
  frontend/spec/features/page_promotions_spec.rb
  guides/src/content/release_notes/4_3_0.md
  sample/db/samples/promotions.rb
  sample/db/samples/taxonomies.rb
Labels: Multi-Store 🏬

#11169 Add store for products finder taxons scope
  api/app/serializers/spree/v2/storefront/product_serializer.rb
  api/spec/requests/spree/api/v2/storefront/products_spec.rb
  api/spec/requests/spree/api/v2/storefront/taxons_spec.rb
  core/app/finders/spree/products/find.rb
  core/app/models/spree/taxon.rb
  core/lib/spree/core/search/base.rb
  core/spec/finders/spree/products/find_spec.rb
Labels: Multi-Store 🏬

#11154 [SD-1372] Add the ability to create a new store from store selector drop-down
  backend/app/controllers/spree/admin/stores_controller.rb
  backend/app/views/spree/admin/shared/_store_switcher.html.erb
  backend/spec/controllers/spree/admin/stores_controller_spec.rb
  backend/spec/features/admin/configuration/stores_spec.rb
  backend/spec/features/admin/store_selector_spec.rb
  backend/spec/features/admin/store_spec.rb
  core/config/locales/en.yml
Labels: Multi-Store 🏬

#11166 SD-1374 Associate customer returns with store
  backend/app/controllers/spree/admin/customer_returns_controller.rb
  backend/app/controllers/spree/admin/return_index_controller.rb
  backend/spec/controllers/spree/admin/customer_returns_controller_spec.rb
  backend/spec/controllers/spree/admin/return_index_controller_spec.rb
  core/app/models/spree/customer_return.rb
  core/app/models/spree/inventory_unit.rb
  core/app/models/spree/order.rb
  core/app/models/spree/store.rb
  core/db/migrate/20210722090705_add_store_id_to_spree_customer_returns.rb
  core/lib/spree/testing_support/factories/customer_return_factory.rb
  core/spec/models/spree/customer_return_spec.rb
  core/spec/models/spree/reimbursement_spec.rb
  emails/spec/models/spree/reimbursement_spec.rb
Labels: Multi-Store 🏬

#11164 Show payment form in checkout when has credit cards for the wrong PaymentMethod
  frontend/app/controllers/spree/checkout_controller.rb
Labels: Multi-Store 🏬

#11149 SD-1361 Add destroy endpoint for basket in spree-api.
  api/app/controllers/spree/api/v1/orders_controller.rb
  api/app/controllers/spree/api/v2/storefront/cart_controller.rb
  api/app/models/spree/api_dependencies.rb
  api/config/routes.rb
  api/docs/v2/storefront/index.yaml
  api/spec/requests/spree/api/v2/storefront/cart_spec.rb
  core/app/models/spree/app_dependencies.rb
  core/app/models/spree/order.rb
  core/app/services/spree/cart/destroy.rb
  core/app/services/spree/cart/empty.rb
  core/config/locales/en.yml
  core/spec/models/spree/order_spec.rb
  core/spec/services/spree/cart/destroy_spec.rb
  core/spec/services/spree/cart/empty_spec.rb
  frontend/app/controllers/spree/orders_controller.rb
  frontend/spec/controllers/spree/orders_controller_spec.rb
Labels: API

#11184 Fix/sd 666 double title
  core/lib/spree/core/controller_helpers/common.rb
  core/spec/lib/spree/core/controller_helpers/common_spec.rb
Labels: Storefront :shopping_cart:
